/* Header.css */
.header {
    background-color: rgb(228, 214, 240);
    color: rgb(0, 0, 0);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  .log {
    font-size: 24px;
    font-weight: bold;
  }
  
  .nav ul {
    list-style: none;
    display: flex;
    font-size: 20px;

    font-family: Georgia, 'Times New Roman', Times, serif;

  }
  
  .nav ul li {
    margin-right: 20px;

  }
  
  .nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
  