/* Product.module.css */
.productContainer {
    padding: 20px;
}

.productList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Display 3 products per row */
    gap: 20px;
}

.productCard {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}